.btn-squares-per-side {
  margin-bottom: 40px;
}

.container {
  display: grid;
  max-width: 640px;
  /*Make neat borders around squares*/
  gap: 1px;
  padding: 1px;
  background-color: black;
}

.off {
  background-color: white;
}

.lit {
  background-color: blue;
}
